[client-server]
socket=/var/lib/mysql/mysql.sock
port=3306

[mysqld]
datadir=/var/lib/mysql
bind-address=0.0.0.0
skip-networking=false

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# include all files from the config directory
!includedir /etc/my.cnf.d
